@use "sass:map";
@use "../variables" as *;

.loading-component {
  min-width: map.get($spacing, 40) * 3;
  max-width: map.get($spacing, 40) * 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-details-loading {
  min-height: 50vh;
  background-color: map.get($colors, gray-100);
  font-family: $font-family-primary;
  text-align: center;
  align-content: center;
  padding: map.get($spacing, 12) map.get($spacing, 8);

  .loading-spinner {
    margin-bottom: map.get($spacing, 4);
  }

  .loading-text {
    font-size: map.get($font-sizes, lg);
    color: map.get($colors, gray-600);
  }
}
